include README.md
include LICENSE
include pyproject.toml
include requirements.txt

recursive-include src/agent_joko/dashboard/static *
recursive-include src/agent_joko/dashboard/templates *
recursive-include src/agent_joko/prompts *
recursive-include src/agent_joko/memory *
